Repository apigee/apigee-m10n-drupal, pull requests merged in 2023-10, with the labels that each got.

#451 Removed Drupal 9.4 support
  .github/workflows/php.yml
  composer.json
Labels: enhancement

#448 Validation for monetized enabled org for enabling teams for ApigeeX
  modules/apigee_m10n_teams/apigee_m10n_teams.install
Labels: bug

#464 Attribute added for allowing Dynamic properties
  src/Entity/PurchasedProduct.php
Labels: enhancement, PHP 8.2

#466 Attributes added for Deprecated dynamic variables in PHP8.2
  modules/apigee_m10n_teams/src/Entity/TeamsRatePlan.php
  src/Entity/RatePlan.php
Labels: enhancement, PHP 8.2
